{% extends 'cashflow.html' %}
{% load bootstrap %}
{% load url from future %}
{% load i18n %}

{% block content %}
<div class="panel">
    <span class="name">{% trans "Delete bank?" %}</span>
    <div class="content">
        <form action="" method="post">{% csrf_token %}
            <p>{% trans "Really want to " %}<strong>{% trans "delete" %}</strong>{% trans " this bank?" %}</p>
            <div class="form-actions">
                <a href="{% url 'bank_list' %}" class="btn">{% trans "No" %}</a>
                <button type="submit" class="btn btn-danger">{% trans "Yes" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}