{% extends 'cashflow.html' %}
{% load bootstrap %}
{% load url from future %}
{% load i18n %}

{% block extra_js %}
<script>
(function($){
    $(function(){
        var $entry_discharge_modal = $('#EntryDischargeModal'),
            $discharge_form = $('#EntryDischargeForm'),
            $discharge_button = $('.discharge'),
            update_entry_url = '/entry/discharge/'

            $(document).on('click', '.discharge', function(){
                var $this = $(this),
                    $data = $(this).data()

                    if ($data.action == 'pay'){
                        $entry_discharge_modal.modal('toggle')
                        $discharge_form.attr('action', update_entry_url + $data.value)
                    }else if($data.action == 'reverse'){
                        $.post('{% url 'entry_discharge_reverse' %}', {'entry':$data.value, 'action':$data.action}, function(data){
                            $this.removeClass('btn-success')
                            .addClass('btn-danger')
                            .empty()
                            .append('<i class="icon-remove icon-white"></i>')
                            .data('action','pay')
                        })
                    }
            })
    })

})(jQuery)
</script>
{% endblock %}

{% block content %}
<div class="panel">
    <span class="name">{% trans "Entries" %}</span>
    <div class="content">
        <form class="well">
            <div class="row">
                <div class="span2">
                    {{form.period|bootstrap}}
                    {{form.doc|bootstrap}}
                </div>
                <div class="span2">
                    {{form.end_date|bootstrap}}
                    {{form.check|bootstrap}}
                </div>
                <div class="span2">
                    {{form.start_date|bootstrap}}
                    {{form.discharge|bootstrap}}
                </div>
                <div class="span2">
                    {{form.bank|bootstrap}}
                </div>
                <div class="span2">
                    {{form.account|bootstrap}}
                    <button class="btn"><i class="icon-search"></i> {% trans "Filter" %}</button>
                </div>
            </div>
        </form>
        <div class="pull-right"><a href="{% url 'entry_create' %}" class="btn btn-primary"><i class="icon-plus icon-white"></i> {% trans "New Entry" %}</a></div>
        <br /><br />
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>{% trans "Pay date" %}</th>
                    <th>{% trans "Account" %}</th>
                    <th>{% trans "Description" %}</th>
                    <th>{% trans "Person" %}</th>
                    <th>{% trans "Bank" %}</th>
                    <th>{% trans "Discharge" %}</th>
                    <th>{% trans "Amount" %}</th>
                </tr>
            </thead>
            <tbody>
            {% if not object_list %}
                <tr>
                    <td colspan="8">{% trans "No registry." %}</td>
                </tr>
            {% else %}
                {% for entry in object_list %}
                <tr>
                    <td width="100">{{entry.pay_date}}</td>
                    <td><a href="{% url 'entry_list' %}?account={{entry.account.pk}}">{{entry.account.name}}</a></td>
                    <td>{{entry.name}}</td>
                    <td><a href="{% url 'entry_list' %}?person={{entry.person.pk}}">{{entry.person.name}}</a></td>
                    <td><a href="{% url 'entry_list' %}?bank={{entry.bank.pk}}">{{entry.bank.name}}</a></td>
                    <td>
                        {% if entry.status %}
                        <button class="btn btn-success discharge" data-value="{{entry.pk}}" data-action="reverse"><i class="icon-ok icon-white"></i></button>
                        {% else %}
                        <button class="btn btn-danger discharge" data-value="{{entry.pk}}" data-action="pay"><i class="icon-remove icon-white"></i></button>
                        {% endif %}
                    </td>
                    <td><span class="pull-right">{{entry.amount}}</span></td>
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <div class="row">
            <div class="span4 pull-right">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>{% trans "Sumarry" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{% trans "Credit:" %}</th>
                            <td><span class="pull-right">Value</span></td>
                        <tr>
                        <tr>
                            <th>{% trans "Debit:" %}</th>
                            <td><span class="pull-right">Value</span></td>
                        <tr>
                        <tr>
                            <th>{% trans "Provided Balance:" %}</th>
                            <td><span class="pull-right">Value</span></td>
                        <tr>
                        <tr>
                            <th>{% trans "Realized Balance:" %}</th>
                            <td><span class="pull-right">Value</span></td>
                        <tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="EntryDischargeModal" class="modal hide fade">

    <form id="EntryDischargeForm" method="post" action="#">{% csrf_token %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% trans "Closes entry informations" %}</h3>
        </div>

        <div class="modal-body">
                {{entry_discharge_form}}
        </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">{% trans "Close</a>
            <button class="btn btn-primary">{% trans "Save" %}</button>
        </div>
    </form>

</div>
{% endblock %}
