{% extends 'cashflow.html' %}
{% load bootstrap %}
{% load url from future %}

{% block extra_js %}
<script>
(function($){
    $(function(){
        var $entry_discharge_modal = $('#EntryDischargeModal'),
            $discharge_form = $('#EntryDischargeForm'),
            $discharge_buttom = $('.discharge'),
            update_entry_url = '/entry/discharge/'

            $discharge_buttom.on('click', function(){
                $entry_discharge_modal.modal('toggle')
                    $discharge_form.attr('action', update_entry_url + $(this).parent().find('input').val())
            })

    })
})(jQuery)
</script>
{% endblock %}

{% block content %}
<div class="panel">
    <span class="name">Entries</span>
    <div class="content">
        <form class="well">
            <div class="row">
                <div class="span2">
                    {{form.period|bootstrap}}
                    {{form.doc|bootstrap}}
                </div>
                <div class="span2">
                    {{form.end_date|bootstrap}}
                    {{form.check|bootstrap}}
                </div>
                <div class="span2">
                    {{form.start_date|bootstrap}}
                    {{form.discharge|bootstrap}}
                </div>
                <div class="span2">
                    {{form.bank|bootstrap}}
                </div>
                <div class="span2">
                    {{form.account|bootstrap}}
                    <button class="btn"><i class="icon-search"></i> Filter</button>
                </div>
            </div>
        </form>
        <div class="pull-right"><a href="{% url 'entry_create' %}" class="btn btn-primary"><i class="icon-plus icon-white"></i> New Entry</a></div>
        <br /><br />
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Pay date</th>
                    <th>Account</th>
                    <th>Description</th>
                    <th>Person</th>
                    <th>Bank</th>
                    <th>Discharge</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
            {% if not object_list %}
                <tr>
                    <td colspan="8">No registry.</td>
                </tr>
            {% else %}
                {% for entry in object_list %}
                <tr>
                    <td width="100">{{entry.pay_date}}</td>
                    <td><a href="{% url 'entry_list' %}?account={{entry.account.pk}}">{{entry.account.name}}</a></td>
                    <td>{{entry.name}}</td>
                    <td><a href="{% url 'entry_list' %}?person={{entry.person.pk}}">{{entry.person.name}}</a></td>
                    <td><a href="{% url 'entry_list' %}?bank={{entry.bank.pk}}">{{entry.bank.name}}</a></td>
                    <td>
                        <a class="btn btn-success discharge" title="check as paid" href="#"><i class="icon-ok icon-white"></i></a>
                        <input type="hidden" value="{{entry.id}}" />
                    </td>
                    <td><span class="pull-right">{{entry.amount}}</span></td>
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <div class="row">
            <div class="span4 pull-right">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sumarry</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Credit:</th>
                            <td><span class="pull-right">Value</span></td>
                        <tr>
                        <tr>
                            <th>Debit:</th>
                            <td><span class="pull-right">Value</span></td>
                        <tr>
                        <tr>
                            <th>Provided Balance:</th>
                            <td><span class="pull-right">Value</span></td>
                        <tr>
                        <tr>
                            <th>Realized Balance:</th>
                            <td><span class="pull-right">Value</span></td>
                        <tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="EntryDischargeModal" class="modal hide fade">

    <form id="EntryDischargeForm" method="post" action="#">{% csrf_token %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Closes entry informations</h3>
        </div>

        <div class="modal-body">
                {{entry_discharge_form}}
        </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button class="btn btn-primary">Save</button>
        </div>
    </form>

</div>
{% endblock %}
